.never-transform {
  transform: none !important;
}

.smart-fullscreanscroll{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 1px;
  bottom: 0;
  background-color: white;
  .smart-fullscreanscroll-item {
    position: absolute;
    right: 1px;
    left: 0;
  }
}

